In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
from mlops_project.utils.s3_handler import S3Handler
from mlops_project.config.config_loader import load_config

In [2]:
load_dotenv()
bucket = os.getenv("S3_BUCKET_NAME")
filename = os.getenv("CSV_FILENAME")
config = load_config("../src/mlops_project/config/dev.yaml")

# ðŸ“¦ 3. PrÃ©parer les chemins S3
project_name = config["project_name"]
csv_input_key = f"datasets/{filename}_processed.csv"
model_key = f"models/{project_name}_model.pkl"

In [3]:
# ðŸ“¡ 4. Charger le modÃ¨le et les donnÃ©es
s3 = S3Handler(bucket)
model = s3.load_model_from_s3(model_key)
df = s3.load_csv_from_s3(csv_input_key)

âœ… Loaded model from s3://athos-mlops0-bucket/models/iris-classification_model.pkl
ðŸ“„ Plain CSV detected

In [4]:
# ðŸ§¹ 5. PrÃ©parer les donnÃ©es (retirer l'id et target si prÃ©sents)
id_column = config.get("id_column")
target = config.get("target")

if id_column in df.columns:
    df = df.set_index(id_column)

if target in df.columns:
    df = df.drop(columns=[target])

In [5]:
# ðŸ¤– 6. Faire la prÃ©diction
predictions = model.predict(df)

# ðŸ§¾ 7. Visualiser les rÃ©sultats
df_pred = pd.DataFrame(predictions, columns=["prediction"], index=df.index)
df_pred.head()

  prediction
0     setosa
1     setosa
2     setosa
3     setosa
4     setosa